<section class=" banner-pic servicemanaged">
  <div class="panel panel-default banner-paneller">
    <div class="panel-heading">
      <ol class="breadcrumb">
        <li><a href="javascript:void(0);">商城管理 </a></li>
        <li class="active">商品信息补充</li>
      </ol>
    </div>

    <div class="banner-list">
      <ul class="nav nav-tabs nav-banner" id='banner_nav' role="tablist">
        <li role="presentation" class="active">
          <a href="#divTag" role="tab" data-toggle="tab"
             ng-click="vm.GoodsTypeCollection.GetGoodsTypeDetil(0)">体检套餐</a>
        </li>
        <li role="presentation">
          <a href="#divTag" role="tab" data-toggle="tab"
             ng-click="vm.GoodsTypeCollection.GetGoodsTypeDetil(1)">实物商品</a>
        </li>
        <li role="presentation">
          <a href="#divTag" role="tab" data-toggle="tab"
             ng-click="vm.GoodsTypeCollection.GetGoodsTypeDetil(2)">虚拟产品</a>
        </li>
        <li role="presentation" style="float:right;">
            <div class="clearfix">
                <button type="button" ng-click="vm.GoodsTypeCollection.AddOrModifyGoodsType()" class="btn btn-success btn-sm"
                        style="width:100px;font-size:15px;">
                  &nbsp;保存提交
                </button>
            </div>
        </li>
      </ul>

    </div>

    <div class="tab-content deptTabs">
      <div role="tabpanel" class="tab-pane banner_Tabs active" id="divTag">
        <div class="form-inline" style="margin-top: 5px;">
          <div class="clearfix">
            <div style="margin-left: 20px;margin-top: 15px;">
              <div class="dialog-title">商品分类</div>
            </div>
          </div>
        </div>
        <div class="form-inline" style=";padding: 10px 0;">
          <div class="clearfix">
            <form class="form-inline pull-left ng-pristine ng-valid" role="form">
              <div class="form-group input-margin">
                <input class="form-control input-sm" placeholder="请输入要添加的分类名称" ng-model="vm.GoodsTypeCollection.data.AddGoodsTypeName"
                       maxlength="20"/>
              </div>
            </form>
            <div>
              <button type="button" class="btn btn-success btn-sm" ng-click="vm.GoodsTypeCollection.SubTypeAdd()">
                <span class="glyphicon glyphicon-plus"></span>&nbsp;添加
              </button>
            </div>
          </div>
        </div>
        <div class="form-inline" style="margin-left:20px;">

          <div class="tab-content answers_pane" style="width:50%;">
            <table class="table table-bordered">
              <tr>
                <th>商品分类</th>
                <th>操作</th>
              </tr>
              <tr ng-repeat='item in vm.GoodsTypeCollection.data.CurrentGoodsType.SubType track by $index'>
                <td ng-bind="item.SubTypeName" />
                <td>
                  <a href="javascript:void(0)" class="btn btn-xs btn-info ng-scope"
                     ng-click="vm.GoodsTypeCollection.SubTypeSort($index,$index-1)"
                     ng-hide="$index == 0">上移</a>
                  <a href="javascript:void(0)" class="btn btn-xs btn-info ng-scope"
                     ng-click="vm.GoodsTypeCollection.SubTypeSort($index,$index+1)"
                     ng-hide="$index == vm.GoodsTypeCollection.data.CurrentGoodsType.SubType.length-1">下移</a>
                  <a href="javascript:void(0)" class="btn btn-xs btn-danger ng-scope"
                     ng-click="vm.GoodsTypeCollection.SubTypeRemove($index)">删除</a>
                </td>
              </tr>
            </table>
          </div>
        </div>
        <div class="form-inline">
          <div class="clearfix">
            <div style="margin-left: 20px;margin-top: 10px;">
              <div class="dialog-title">商品标签</div>
            </div>
          </div>
        </div>

        <div role="tabpanel" class="tab-pane banner_Tabs">
          <div class="form-inline" style="margin-top: 5px;padding: 10px 0;">
            <div class="clearfix">
              <form class="form-inline pull-left ng-pristine ng-valid" role="form">
                <div class="form-group input-margin">
                  <input class="form-control input-sm" placeholder="请输入要添加的标签" ng-model="vm.GoodsTypeCollection.data.AddTagName"
                         maxlength="8"/>
                </div>
              </form>
              <div>
                <button type="button" class="btn btn-success btn-sm" ng-click="vm.GoodsTypeCollection.TagsAdd()">
                  <span class="glyphicon glyphicon-plus"></span>&nbsp;添加
                </button>
              </div>
            </div>
          </div>
          <div class="form-inline" style="margin-left:20px;">
            <span class="instition-list" ng-repeat="item in vm.GoodsTypeCollection.data.CurrentGoodsType.GoodsTags"
                  style="position:relative;">
              <span ng-bind="item"></span>
              <img ng-click="vm.GoodsTypeCollection.data.RemoveTagItem = item" data-toggle="modal" data-target="#deleteModel"
                   style="width: 20px;height: 20px;" src="./img/p_close.png"></img>
            </span>
          </div>
        </div>
        <div class="form-inline" style="margin-top: 5px;">
          <div class="clearfix">
            <div style="margin-left: 20px;margin-top: 5px;">
              <div style="margin-top: 10px;">
                <div class="dialog-title">体检说明</div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-inline" style="margin-top: 5px;">
          <div class="clearfix">
            <div style="height:400px;width:850px;padding:0 20px;margin-top:10px;">
              <div style="height:400px;width:850px;padding:0 20px;"
                   ng-model="vm.GoodsTypeCollection.data.SubmitGoodsType.MEDesc" id="contenteditableOne"
                   contenteditable="true">
              </div>
            </div>
          </div>
        </div>
        <div class="form-inline" style="margin-top: 20px;">
          <div class="clearfix">
            <div style="margin-left: 20px;margin-top: 5px;">
              <div style="margin-top: 10px;">
                <div class="dialog-title">常见说明</div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-inline" style="margin-top: 5px;">
          <div class="clearfix">
            <div style="height:400px;width:850px;padding:0 20px;margin-top:15px;">
              <div style="height:400px;width:850px;padding:0 20px;"
                   ng-model="vm.GoodsTypeCollection.data.SubmitGoodsType.CommonDesc"
                   contenteditable="true">
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<!--删除摸态框-->
<div class="modal fade" id="deleteModel" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content disable">
      <div class="modal-body text-center">
        <h4 class="ng-binding inform-h3">确定要删除此标签吗？</h4>
        <button type="button" class="btn btn-warning" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="vm.GoodsTypeCollection.TagsRemove()">确定</button>
      </div>
    </div>
  </div>
</div>
